<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.dao.mapper.UserAccountMapper">

    <insert id="insert" parameterType="com.chen.entity.UserAccount">
        insert into useraccount(username,password) values(#{username},#{password})
    </insert>
    <select id="selectUserAccount" resultType="com.chen.entity.UserAccount">
        select * from useraccount limit  1
    </select>
</mapper>